.header {
  padding: 1em;
}
nav {
  display: flex;
  align-items: center;
}
nav .nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1.5em;
}
.connected {
  border-bottom: 2px solid lightgreen;
}
