@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

body {
  font-family: "Michroma", sans-serif;
  background: url(./assets/bg.jpg);
  background-size: cover;
  color: white;
}

.title {
  text-align: center;
}
.description {
  text-align: center;
}
